/* 폰트 */
@font-face {
	font-family: 'LotteMartDream';
	font-style: normal;
	font-weight: 400;
	src:
		url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2')
		format('woff2'),
		url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff')
		format('woff');
}

@font-face {
	font-family: 'LotteMartDream';
	font-style: normal;
	font-weight: 700;
	src:
		url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff2')
		format('woff2'),
		url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff')
		format('woff');
}

@font-face {
	font-family: 'LotteMartDream';
	font-style: normal;
	font-weight: 300;
	src:
		url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff2')
		format('woff2'),
		url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff')
		format('woff');
}

html, .tui-editor-contents {
	font-family: 'LotteMartDream', sans-serif !important;
}

/* 노말라이즈 */
body, ul, li, h1, h2, h3 {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

/* 라이브러리 */
.con {
  margin-left:auto;
  margin-right:auto;
}

.bg-black {
  background-color:black;
}

.color-white {
  color:white;
}

.block {
  display:block;
}

.bg-red {
  background-color:red;
}

.bg-blue {
  background-color:blue;
}

.flex {
  display:flex;
}

.min-height-100vh {
  min-height:100vh;
}

.flex-column {
  flex-direction:column;
}

.flex-jc-c {
  justify-content:center;
}

.flex-jc-sb {
  justify-content:space-between;
}

.flex-ai-c {
  align-items:center;
}

.flex-grow-1{
  flex-grow:1;
}

.height-100p {
  height:100%;
}

.width-inherit{
  width:inherit;
}

.hover_bottomLine:hover {
  border-bottom:1px solid black;
}

/* 커스텀 */
.con-min-width {
	min-width: 1200px;
	padding:0 10px;
}

.con {
	width: 1200px;
}

/* 상단바 */
.header {
  height:100px;
}
/* 상단바 끝*/

/* 로고바 시작 */
.logo-bar {
  background-color:white;
  height:100px;
  width:cal(100%/2);
}

.logo img{
  height:100%;
}
/* 로고바 끝 */

/* 메뉴바 시작 */
.menu-bar {
  background-color:white;
  color:black;
  width:cal(100%/2);
  margin-top:10px;
}
/* 메뉴바 끝 */

/* 메뉴바 - 메뉴1 시작 */

.menu-bar__menu-1 > ul > li {
  position:relative;
  white-space:nowrap;
  min-width:100px;
}

.menu-bar__menu-1 ul > li > a {
  text-align:center;
  padding:10px;
}

.menu-bar__menu-1 ul > li:hover > a {
  color:#f2a940;
}

.menu-bar__menu-1 > ul ul {
  display:none;
  position:absolute;
  top:100%;
  min-width:100%;
  color:black;
  background-color:white;
  border-top-width:0;
}

.menu-bar__menu-1 ul > li:hover > ul {
  display:block;
}

/* 메뉴바 - 메뉴1 끝 */

/* 타이틀 바 시작 */
.title-bar {
	margin-top: 30px;
	margin-bottom: 30px;
}
/* 타이틀 바 끝 */

/* 메인 소개글 */
.main_info {
  width:500px;
}
/* 메인 소개글 끝 */

/* 메인 최신글 */
.articles_latest h3 {
  padding:4px 0;
}

.articles_latest .list_latest li > a {
  padding:5px 2px;
}

.articles_latest .list_latest li > a:hover{
  background-color:black;
  color:white;
}

.articles_latest .list_latest li> a>span {
  font-size:0.8rem;
  color:lightgrey;
  margin-left:3px;
}
/* 메인 최신글 끝 */

/* about */
.about .nick img {
  width:80px;
  border-radius:40px;
}

.about .nick h2 {
  margin-left:10px;
}

.about .profile {
  margin-top:10px;
}

.about .profile span {
  padding:3px 0;
}
/* about 끝 */

/* 게시물 리스트 */
.article-list{
  border-top:3px solid black;
  border-bottom:3px solid black;
  width:100%;
  border-collapse: collapse;
}

.article-list__header {
  border-bottom: 2px solid black;
  height:40px;
}

.article-list__header>th {
  background-color:#ececec;
  padding: 3px;
}

.th_id {
  width:8%;
}

.th_title {
  width:55%;
}

.th_writer {
  width:12%;
}

.th_regDate {
  width:10%;
}

.th_hit {
  width:8%;
}

.th-rec {
  width:7%;
}

.list {
  height: 30px;
  border-bottom:1px solid black;
}

.list > td:not(.td_title) {
  text-align:center;
}

.list > td.empty {
	color:grey;
}

/* 게시물 리스트 끝 */

/* 리스트 페이징 */
.paging {
  margin-top: 20px;
}

.paging ul li{
  margin:0 1px;
}

.paging ul li a{
  padding:7px;
}

.paging li:not(.back):not(.next) a{
  min-width:30px;
  border:1px solid transparent;
  justify-content:center;
  padding:7px 0;
}

.paging li:not(.back):not(.next):not(.page_now):hover {
  background-color:#ececec;
  font-weight:bold;
}

.paging li.page_now{
  background-color:black;
  color:white;
  font-weight:bold;
}
/* 리스트 페이징 끝 */

/* 게시물 디테일 상단 */
.detail_top {
  border-bottom:2px solid black;
  margin-bottom:10px;
}

.detail_top > .detail_title {
  padding:2px;
  
}

.detail_top .detail_info{
  font-size:0.9rem;
  padding:2px;
  margin:5px 0;
}

.detail_top .detail_info >* {
  margin-right:10px;
}

.detail_info > .detail_hit{
  margin-left:auto;
}

/* 게시물 디테일 상단 끝*/

/* 게시물 디테일 본문 */
.detail_body{
  border-bottom:2px solid black;
  padding-bottom:10px;
}

/* 게시물 디테일 본문 끝 */

/* 게시물 디테일 목록 바 */
.detail_movePage{
  margin:10px 0;
}

/* 게시물 디테일 목록바 끝 */

/* 하단 바 시작 */
.bottom-bar {
  margin-top:30px;
  background-color:white;
  color:black;
}

.bottom-bar .logo {
  margin-top:30px;
  margin-bottom:30px;
}

.logo-mini {
  font-size: 1.5rem;
  margin-left:10px;
}

.logo-mini img {
  height:40px;
}

.bottom-bar__site-info {
  padding-left:10px;
  font-size:0.9rem;
}

.bottom-bar__site-info i {
  margin-right:2px;
}
/* 하단 바 끝 */